{% extends '../base.html' %}
{% load static %}

{% block title %}MovieName - YouTube Movies{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static './css/movie-grid.css' %}">
    <link rel="stylesheet" href="{% static './css/mvcards.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock style %}

{% block content %}
<main class="container d-flex flex-column">
    <div class="my-4 grid">
        <div class="poster">
            <img src="{{ movie.poster }}" alt="">
        </div>
        <h1 class="title">{{ movie.movieName }}</h1>
        <p class="desc">{{ movie.description }}</p>
        <div class="genres">
            <p><b>Genres:</b> 
            {% for genre in movie.genres.all %}
                {{ genre.genreName }},
            {% endfor %}
            </p>
        </div>
        <div class="rating">
            <p><b>Rating:</b> {{ movie.rating }}</p>
        </div>
        <div class="actor">
            <h4>Actors</h4>
            <ul>
                {% for role in movie.role_set.all %}
                <li><b>{{ role.actor }}</b> as {{ role.character }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="date">
            <p><b>Year:</b> {{ movie.year }}</p>
        </div>
        <div class="producer">
            <p><b>Producer:</b> {{ movie.producer }}</p>
        </div>
        <div class="screenshots">
            <div class="owl-carousel owl-theme">
                {% for screenshot in movie.screenshots.all %}
                <img src="{{ screenshot.img }}" alt="{{ screenshot.altText }}">
                {% endfor %}
            </div>
            <div class="custom-nav mt-2">
                <div class="owl-dots"></div> <!-- Navigation dots -->
                <div class="owl-nav">
                    <button class="owl-prev"><i class="fas fa-chevron-left"></i></button> <!-- Prev button -->
                    <button class="owl-next"><i class="fas fa-chevron-right"></i></button> <!-- Next button -->
                </div>
            </div>
        </div>
    </div>

    <iframe width="720" height="405" src="https://www.youtube-nocookie.com/embed/{{ movie.movieLink }}"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen class="mx-auto my-4"></iframe>
</main>
{% endblock content %}