{% extends '../base.html' %}

{% block title %}Log In - YouTube Movies{% endblock title %}

{% block content %} 
<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <h1>Log in</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-danger">Login</button>
                <a href="{% url 'signupPage' %}">If no accaunt, link here</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}