{% extends '../base.html' %}

{% block title %}Sign Up - YouTube Movies{% endblock title %}

{% block content %} 
<div class="container my-4">
    <div class="card">
        <div class="card-body">
            <h1>Sign up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-danger">Signup</button>
                <a href="{% url 'loginPage' %}">If have account, link here</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}